<ion-header>
  <ion-toolbar  >
    <ion-title>Aadit Life Signup Form</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding-horizantal>

    
    <form (ngSubmit)="onSubmit(myForm.value)" [formGroup]="myForm">
        
        <ion-item-group>   
            <ion-item>
                <ion-label  floating>First Name</ion-label>
                <ion-input type="text" formControlName="firstname" name="entry.238150607" required ></ion-input>
            </ion-item>


            <ion-item>
                <ion-label  floating>Last Name</ion-label>
                <ion-input type="text" formControlName="lastname" name="entry.238150608" required ></ion-input>
            </ion-item>


            <ion-item >
                <ion-label floating>Email Address</ion-label>
                <ion-input  type="email" formControlName="email" name="entry.1071171226" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required ></ion-input>
            </ion-item>        

        
            <ion-item>
                <ion-label  floating>Organization</ion-label>
                <ion-input type="text" formControlName="organization"  name="entry.548802180"  required   ></ion-input>
            </ion-item>      

        
            <ion-item>
                <ion-label  floating>Mobile Number</ion-label>
                <ion-input type="number" formControlName="contact" name="entry.1334960025" required ></ion-input>
            </ion-item>
   
            
            <ion-label padding floating>Gender</ion-label>
            <ion-row>
            <ion-col col-4 no-padding class="one">
              <ion-item>
                <ion-label>Male</ion-label>
                <ion-radio [checked]="this.gender === 'Male'" formControlName ="gender" value="Male" (ionSelect)="selectGender('Male')"></ion-radio>
              </ion-item>
            </ion-col>
            <ion-col col-5 no-padding class="two">
              <ion-item>
                <ion-label>Female</ion-label>
                <ion-radio [checked]="this.gender === 'Female'" formControlName ="gender" value="Female" (ionSelect)="selectGender('Female')"></ion-radio>
              </ion-item>
            </ion-col>
            </ion-row>
            
        
            <ion-item lines="full">
                <ion-label  floating>Birth Year(YYYY Format)</ion-label>
                <ion-input formControlName="year" name="entry.1058758422" value min= "1940" max="2010" required ></ion-input>
            </ion-item>
            <ion-item lines="none"></ion-item>
        </ion-item-group>

            
        <ion-button [disabled]="!myForm.valid" type="submit" >Submit</ion-button>
            
        
    </form>



</ion-content>
