<ion-header>
  <ion-toolbar >
    <ion-title>Medical History</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding-horizantal>
  <div class="container-fluid">
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content
        pullingIcon="arrow-dropdown"
        pullingText="Pull to refresh"
        refreshingSpinner="circles"
        refreshingText="Refreshing...">
      </ion-refresher-content>
    </ion-refresher>

    
    <form (ngSubmit)="onSubmit(myForm.value)"  [formGroup]="myForm" >
      <div class="form-group">
        <label style="font-size: 1.2rem; font-weight: bold">The last time I had a medical check up was</label>
        <div class="custom-control custom-radio">
            <input class="custom-control-input" type="radio"  formControlName ="checkup" id="inlineRadio1" value="With in last six months">
            <label class="custom-control-label" for="inlineRadio1">Within the last six months.</label>
        </div>

        <div class="custom-control custom-radio">
            <input class="custom-control-input" type="radio"  formControlName ="checkup" id="inlineRadio2" value="Between six and eighteen months ago.">
            <label class="custom-control-label" for="inlineRadio2">Between six and eighteen months ago.</label>
        </div>

        <div class="custom-control custom-radio">
            <input class="custom-control-input" type="radio"  formControlName ="checkup" id="inlineRadio3" value="More than eighteen months ago / never.">
            <label class="custom-control-label" for="inlineRadio3">More than eighteen months ago / never.</label>
        </div>
      </div>


      <div class="form-group">
        <label  style="font-size: 1.2rem; font-weight: bold"> Please review the following questions : * </label>
          <p>Check the boxes that you will answer "yes" to. If you have checked any of the boxes (except the last one), 
            you should check with a doctor before you start an exercise program.</p>

        <div class="custom-control custom-checkbox">
          <input type="checkbox" formControlName="rev1" class="custom-control-input" id="customCheck1">
          <label class="custom-control-label" for="customCheck1"><p>I have been told I have a heart condition that requires me to take up only 
              physical activity recommended by a doctor.</p></label>
        </div>

        <div class="custom-control custom-checkbox">
          <input type="checkbox" formControlName="rev2" class="custom-control-input" id="customCheck2">
          <label class="custom-control-label" for="customCheck2"><p>I have in the past felt a pain in my chest when I do 
              physical activity / exercise.</p></label>
        </div>

        <div class="custom-control custom-checkbox">
          <input type="checkbox" formControlName="rev3" class="custom-control-input" id="customCheck3">
          <label class="custom-control-label" for="customCheck3"><p>In the past month I have had chest pain when not doing 
              any physical activity..</p></label>
        </div>

        <div class="custom-control custom-checkbox">
          <input type="checkbox" formControlName="rev4" class="custom-control-input" id="customCheck4">
          <label class="custom-control-label" for="customCheck4"><p>I have in the past lost balance because I felt dizzy, or lost consciousness..</p></label>
        </div>

        <div class="custom-control custom-checkbox">
          <input type="checkbox" formControlName="rev5" class="custom-control-input" id="customCheck5">
          <label class="custom-control-label" for="customCheck5"><p>I have a bone or joint problem that could be made worse with physical activity.</p></label>
        </div>

        <div class="custom-control custom-checkbox">
          <input type="checkbox" formControlName="rev6" class="custom-control-input" id="customCheck6">
          <label class="custom-control-label" for="customCheck6"><p>I am taking medication for blood pressure or a heart condition.</p></label>
        </div>

        <div class="custom-control custom-checkbox">
          <input type="checkbox" formControlName="rev7" class="custom-control-input" id="customCheck7">
          <label class="custom-control-label" for="customCheck7"><p>I am diabetic..</p></label>
        </div>

        <div class="custom-control custom-checkbox">
          <input type="checkbox" formControlName="rev8" class="custom-control-input" id="customCheck8">
          <label class="custom-control-label" for="customCheck8"><p>I sometimes have difficulty breathing - especially in cold dry conditions.</p></label>
        </div>

        <div class="custom-control custom-checkbox">
          <input type="checkbox" formControlName="rev9" class="custom-control-input" id="customCheck9">
          <label class="custom-control-label" for="customCheck9"><p>I am aware of some other reason why I should do physical activity.</p></label>
        </div>

        <div class="custom-control custom-checkbox">
          <input type="checkbox" formControlName="rev10" class="custom-control-input" id="customCheck10">
          <label class="custom-control-label" for="customCheck10"><p>I am pregnant.</p></label>
        </div>

        <div class="custom-control custom-checkbox">
          <input type="checkbox" formControlName="rev11" class="custom-control-input" id="customCheck11" >
          <label class="custom-control-label" for="customCheck11"><p>None of the things listed above apply to me.</p></label>
        </div>

      </div>
    
      <button type="submit" [disabled]="!myForm.valid" class="btn btn-primary">Submit</button>
    </form>
    
  </div>
</ion-content>
