<ion-header>
  <ion-toolbar >
    <ion-title>Current Activity/ Goals</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding-horozantal>
  <div class="container-fluid">
    <form (ngSubmit)="onSubmit(myForm.value)" [formGroup]="myForm">
      <div class="form-group">
        <label >The reason  for the signup of program is *</label>
        <input  type="text" class="form-control" formControlName="reason" placeholder="enter a valid reason" required >
        <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.reason" >
            <div class="error-message" *ngIf="myForm.get('reason').hasError(validation.type) && ( myForm.get('reason').touched)">
                {{ validation.message }}
            </div>
            </ng-container>
        </div>  
      </div>
      
      <div class="form-group">
        <label > In six months, I will be delighted if *</label>
        <input type="text" class="form-control" formControlName="reason2" placeholder="enter your goal"  required >
        <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.reason2" >
            <div class="error-message" *ngIf="myForm.get('reason2').hasError(validation.type) && (myForm.get('reason2').touched)">
                {{ validation.message }}
            </div>
            </ng-container>
        </div>  
      </div>

      <div class="form-group">
        <label  floating text-wrap>My current frequency of physical activity is *</label>
        <div class="custom-control custom-radio">
          <input class="custom-control-input" type="radio"  formControlName ="activity" id="inlineRadio1" value="NotRegular">
          <label class="custom-control-label" for="inlineRadio1">Not Regular- less than once a week</label>
        </div>

        <div class="custom-control custom-radio">
          <input class="custom-control-input" type="radio"  formControlName ="activity" id="inlineRadio2" value="Somewhat regular">
          <label class="custom-control-label" for="inlineRadio2">Somewhat Regular-between one and three times a week.</label>
        </div>

        <div class="custom-control custom-radio">
          <input class="custom-control-input" type="radio"  formControlName ="activity" id="inlineRadio3" value="Regular">
          <label class="custom-control-label" for="inlineRadio3">Regular-three or more times a week.</label>
        </div>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.activity" >
            <div class="error-message" *ngIf="myForm.get('activity').hasError(validation.type) && (myForm.get('activity').touched)">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>  
      </div>
     
      <div class="form-group">
        <label text-wrap> Briefly describe what you currently do for physical activity *</label>
        <input type="text" formControlName="reason3" class="form-control" placeholder="your current physical activities" required >
        <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.reason3" >
            <div class="error-message" *ngIf="myForm.get('reason3').hasError(validation.type) && ( myForm.get('reason3').touched)">
                {{ validation.message }}
            </div>
            </ng-container>
        </div>  
      </div>

      <button type="submit" [disabled]="!myForm.valid" style="background: #F4741B; color:white ;" class="btn btn-block">Submit</button>
    </form>

  </div>
</ion-content>
