<ion-header>
  <ion-toolbar >
    <ion-title>Motivation/ Current Activity/ Goals</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
          pullingIcon="arrow-dropdown"
          pullingText="Pull to refresh"
          refreshingSpinner="circles"
          refreshingText="Refreshing...">
        </ion-refresher-content>
      </ion-refresher>

    <form (ngSubmit)="onSubmit(myForm.value)" [formGroup]="myForm">
          
      <ion-item-group>
        <ion-label >The reason  for the signup of program is *</ion-label>
        <ion-item lines="full">
        <ion-input  type="text" formControlName="reason"  required ></ion-input>
        </ion-item>
        <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.reason" >
            <div class="error-message" *ngIf="myForm.get('reason').hasError(validation.type) && ( myForm.get('reason').touched)">
                {{ validation.message }}
            </div>
            </ng-container>
        </div>  
      
        <ion-label > In six months, I will be delighted if *</ion-label>
        <ion-item lines="full">
            <ion-input type="text" formControlName="reason2"   required ></ion-input>
        </ion-item>
        <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.reason2" >
            <div class="error-message" *ngIf="myForm.get('reason2').hasError(validation.type) && (myForm.get('reason2').touched)">
                {{ validation.message }}
            </div>
            </ng-container>
        </div>  

        <ion-item lines="none"></ion-item>        
      </ion-item-group>


      <ion-item-group >
        <ion-label  floating text-wrap>My current frequency of physical activity is *</ion-label>
        <ion-row>
        <ion-col col-4 no-padding class="one">
          <ion-item lines="none">
            <ion-label text-wrap>Not Regular- less than once a week</ion-label>
            <ion-radio [checked]="this.activity === 'Notregular'" formControlName ="activity"  required value="NotRegular" (ionSelect)="selectFrequency('Notregular')"></ion-radio>
          </ion-item>
        </ion-col>
        </ion-row>
        <ion-row>
        <ion-col col-5 no-padding class="two">
          <ion-item lines="none">
            <ion-label text-wrap >Somewhat Regular-between one and three times a week.</ion-label>
            <ion-radio [checked]="this.activity === 'Somewhat regular'" formControlName ="activity"  required value="Somewhat regular" (ionSelect)="selectFrequency('Somewhat regular')"></ion-radio>
          </ion-item>
        </ion-col>
        </ion-row>
        <ion-row>
        <ion-col col-5 no-padding class="two">
          <ion-item >
            <ion-label text-wrap>Regular-three or more times a week.</ion-label>
            <ion-radio [checked]="this.activity === 'Regular'" formControlName ="activity"  required value="Regular" (ionSelect)="selectFrequency('Regular')"></ion-radio>
          </ion-item>
          <div class="validation-errors">
              <ng-container *ngFor="let validation of validation_messages.activity" >
              <div class="error-message" *ngIf="myForm.get('activity').hasError(validation.type) && (myForm.get('activity').touched)">
                  {{ validation.message }}
              </div>
              </ng-container>
          </div>  

        </ion-col>
        </ion-row>
        </ion-item-group>
     

        <ion-item-group>
        <ion-label text-wrap stacked> Briefly describe what you currently do for physical activity *</ion-label>
        <ion-item lines="full">
          <ion-input type="text" formControlName="reason3"  required ></ion-input>
        </ion-item>
        <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.reason3" >
            <div class="error-message" *ngIf="myForm.get('reason3').hasError(validation.type) && ( myForm.get('reason3').touched)">
                {{ validation.message }}
            </div>
            </ng-container>
        </div>  

        <ion-item lines="none"></ion-item>
      </ion-item-group>        

      <ion-button [disabled]="!myForm.valid" type="submit" >Submit</ion-button>
      


    </form>


</ion-content>
