<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="color: white">
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div class="list card">
      <div class="profile-picture big-profile-picture">
        <img src="{{Data.profile.picture}}">
      </div>
  </div>
  <div padding>
  <div class="list card" padding light style="background-color: #26617D; color: white;">
      <div >First Name  :  {{Data.profile.firstName}}</div>
      <div >Last Name   :  {{Data.profile.lastName}}</div>
      <div >Gender      :  {{this.Gender}}</div>
    </div>
  <div class="list card" padding style="background-color: #26617D; color: white;">
    <div>Mobile   :  {{this.Number}}</div>
    <div>Email    :  {{Data.profile.email}}</div>
    <!-- <div>Company  :  {{this.Company}}</div> -->
  </div>
</div>
</ion-content>

