<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title style="color: white">
       Food Log
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content padding>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
          pullingIcon="arrow-dropdown"
          pullingText="Pull to refresh"
          refreshingSpinner="circles"
          refreshingText="Refreshing...">
        </ion-refresher-content>
      </ion-refresher>
  <form (ngSubmit)="onSave(myForm.value)" [formGroup]="myForm">

  <div class="form-group">
    <label>Date</label>
    <input type="date" formControlName="date" class="form-control" >
  </div>

  <div class="form-group">
  <label  floating >Meal Time</label> 
  <select class="custom-select custom-select-lg mb-3" formControlName="food" >
      <option  value="Breakfast">Breakfast</option>
      <option  value="Lunch" >Lunch</option>
      <option  value="Dinner">Dinner</option>
    </select>
  </div>

  <div class="form-group">
    <label floating >Meal Details</label>
    <textarea class="form-control" type="text" formControlName="details" style="height:200px;"required ></textarea>
  </div>
<div align="center">
  <button type="submit" [disabled]="!myForm.valid" style="color: white; background: #4C99AB;" class="btn btn-block btn-lg">Save</button>
</div>
  </form>

</ion-content>
