<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
       Food Log
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content padding>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
          pullingIcon="arrow-dropdown"
          pullingText="Pull to refresh"
          refreshingSpinner="circles"
          refreshingText="Refreshing...">
        </ion-refresher-content>
      </ion-refresher>
  <form (ngSubmit)="onSave(myForm.value)" [formGroup]="myForm">
     
  <div>
    <ion-label>Date</ion-label>
    <ion-datetime formControlName="date" display-format="DD/MM/YYYY " picker-format="DD MMMM YYYY" [(ngModel)]="myDate" placeholder="Select a Date"></ion-datetime>
  </div>

  <label  floating>Meal Time</label> 
    <ion-select formControlName="food" placeholder="Select One">
      <ion-select-option value="Breakfast">Breakfast</ion-select-option>
      <ion-select-option value="Lunch">Lunch</ion-select-option>
      <ion-select-option value="Dinner">Dinner</ion-select-option>
    </ion-select>

    <div>
    <ion-label floating>Meal Details</ion-label>
    <textarea  type="text" formControlName="details" style="height:200px"required ></textarea>
    </div>

    <ion-button [disabled]="!myForm.valid" type="submit" >Save</ion-button> 
  </form>

</ion-content>
