
    
#container {
    position: relative;
	height: 300px;
	min-width: 310px;
	max-width: 800px;
}
   
#container2 {
    position: relative;
	height: 300px;
	min-width: 310px;
	max-width: 800px;
}

// #container2 {
//     display: block;
//     width:100%;
// }
// .ios, .md {
 
//     page-home {
 
//         .scroll-content {
//             --background: map-get($colors, light);
//         }
 
//         ion-card-header {
//             font-weight: bold;
//         }
 
//     }
 
// }