<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Contact US
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content padding>
    <div class="container">
        <form (ngSubmit)="onSubmit(myForm.value)" [formGroup]="myForm">
      
          <label for="fname">First Name</label>
          <input type="text" formControlName="firstname" placeholder="Your name..">
      
          <label for="lname">Last Name</label>
          <input type="text" formControlName="lastname" placeholder="Your last name..">
      
          <label for="country">Country</label>
          <select formControlName="country">
            <option value="India">India</option>
            <option value="canada">Canada</option>
            <option value="usa">USA</option>
          </select>
      
          <label for="message">Message</label>
          <textarea formControlName="message" placeholder="Write something.." style="height:200px"></textarea>
      
          <ion-button [disabled]="!myForm.valid" type="submit" >Submit</ion-button>
      
        </form>
      </div>
</ion-content>
