.hide {
    display: none;
  }

button{
  position: relative;
  left: 31%;
  transform: translateX(-31%); 
  background-color: #4C99AB;
}

// ion-content {
//   --background: url('../../assets/images/adult-athlete-biceps.jpg') 0 0/100% 100% no-repeat; 
// }

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #4C99AB;
}

