<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Today's Workout
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <div><label>Item ID: </label></div>

    <TABLE >
      <TD>
        <TR>Date</TR>
        <TR>Workout Type</TR>
        <TR>Activity Time-Minutes</TR>
        <TR>Activity Speed-Kmph</TR>
        <TR>Recovery Time-Minutes</TR>
        <TR>Recovery Speed</TR>
        <TR># of Repeats</TR>
        <TR>Total Duration</TR>
      </TD>
      <TD>
        <TR id = "date"></TR>
        <TR id = "workout_type"></TR>
        <TR id = "activity_time"></TR>
        <TR id = "activity_speed"></TR>
        <TR id = "recovery_time"></TR>
        <TR id = "recovery_speed"></TR>
        <TR id = "repeats"></TR>
        <TR id = "duration"></TR>
      </TD>
    </TABLE>
</ion-content>
