<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Today's Workout
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!-- <div class="col header">
    <div class="row">{{workData</div>
    <div class="row">Service Code</div>
    <div class="row">Pay Limit</div>
    <div class="row">Account Number to Use</div>
  </div>
  <div class="col" >
    <div class="row">{{data.name}}</div>
    <div class="row">{{data.code}}</div>
    <div class="row">LK {{data.limit}}</div>
    <div class="row">{{data.account}}</div>
  </div> -->
</ion-content>
