<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Today's Workout
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <h3 align="center" id = "Day" ></h3>

<div align='center'>
  <ion-select [(ngModel)]="selectedOption" (ionChange)="SelectedValue(selectedOption)" placeholder = "Select an option">
    <ion-select-option aria-selected="true" value = "Today">Today's Workout</ion-select-option>
    <ion-select-option value = "Long">Long Workout</ion-select-option>
    <ion-select-option value = "Tempo">Tempo Workout</ion-select-option>
    <ion-select-option value = "Interval">Interval workout</ion-select-option>
    <ion-select-option value = "Speed">Speed workout</ion-select-option>
    <ion-select-option value = "Strengthex">Strength workout</ion-select-option>
  </ion-select>
</div>

<div class="hide" id = "container">
	<table>
		<thead>
			<!-- <tr>
				<th>Column 1</th>
				<th>Column 2</th>
			</tr> -->
		</thead>
		<tbody>
			<tr>
        <td>Workout Type</td>
        <td id ="workout_type"></td>
			</tr>
			<tr>
        <td>Activity Time - Minutes</td>
        <td id = "activity_time"></td>
			</tr>
			<tr>
        <td>Activity Speed -Kmph</td>
        <td id = "activity_speed"></td>
			</tr>
			<tr>
        <td>Recovery Time - Minutes</td>
        <td id = "recovery_time"></td>
      </tr>
      <tr>
          <td>Recovery Speed - Kmph</td>
          <td id = "recovery_speed"></td>
      </tr>
      <tr>
        <td># of repeats</td>
        <td id = "repeats"></td>
      </tr>
      <tr>
        <td>Duration - Minutes</td>
        <td id = "duration"></td>
			</tr>
		</tbody>
  </table>
  </div>

  <div class="hide" id = "Strengthex">
    <table>
      <thead>
        <tr>
          <th>Strength Exercise</th>
          <th>Unit</th>
          <th>Unit Type</th>
        </tr>
      </thead>
      <tbody>
        <!-- <tr>
          <td >Date</td>
          <td id = "date"></td>
        </tr> -->
        <tr>
          <td id="Excer1"></td>
          <td id ="Excer1_unit"></td>
          <td id ="Excer1_unitType"></td>
        </tr>
        <tr>
          <td id ="Excer2"></td>
          <td id = "Excer2_unit"></td>
          <td id = "Excer2_unitType"></td>
        </tr>
        <tr>
          <td id = "Excer3"></td>
          <td id = "Excer3_unit"></td>
          <td id=  "Excer3_unitType"></td>
        </tr>
        <tr>
          <td id="Excer4"></td>
          <td id ="Excer4_unit"></td>
          <td id ="Excer4_unitType"></td>
        </tr>
        <tr>
          <td id ="Excer5"></td>
          <td id = "Excer5_unit"></td>
          <td id = "Excer5_unitType"></td>
        </tr>
        <tr>
          <td id = "Excer6"></td>
          <td id = "Excer6_unit"></td>
          <td id=  "Excer6_unitType"></td>
        </tr>
        <tr>
          <td id ="Excer7"></td>
          <td id = "Excer7_unit"></td>
          <td id = "Excer7_unitType"></td>
        </tr>
        <tr>
          <td id = "Excer8"></td>
          <td id = "Excer8_unit"></td>
          <td id=  "Excer8_unitType"></td>
        </tr>

      </tbody>
    </table>
    </div>

  <div class = "logbutton">
    <ion-button (click)= "goToWorkoutLog()" >Workout Log</ion-button>
    <ion-button (click)= "goToFoodLog()"  >Food Log</ion-button>
  </div>

</ion-content>
